@media print {
    .pokemon-card {
        margin: 0;
        padding: 0;
    }
}

.card img {
    transition: all 0.3s ease;
}

.card:hover img {
    transform: scale(1.2);
    /* Increase the size of the image */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Add a shadow for a "pop" effect */
}